
.FLContainer{
    height: 100%;
    width: 100%;
}

.FLContent{
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    position: relative;
}
.crearClaseWindow{
    height: 40vh;
    width: 50vw;
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-top: -20vh;
    margin-left: -25vw;
    
}
.ClosPopUp{
    height: 40px;
    width: 40px;
    position:absolute;
    left: 80%;
    top: 0;
}

.listaForms{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}
.FormElement{
    font-weight: 600;
    margin: 1px;
    background-color: var(--opciones2Color);
    color: white;
    height: 50px;
    width: 100%;
}
.vistaWindow{
    position: fixed;
    left: 15vw;
    height: 85vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
}


@media (max-width: 600px){
    .vistaWindow{
        height: 85vh;
        width: 100vw;
        position: fixed;
        overflow: auto;
        left: 0;
        bottom: 0;

    }
}

.crearWindow{
    position: fixed;
    left: 15vw;
    height: 85vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
}


@media (max-width: 600px){
    .crearWindow{
        height: 84vh;
        width: 100vw;
        position: fixed;
        overflow: auto;
        left: 0;
        bottom: 0;
    }
}

