.ctnPregunta{
    width: 100%;
    font-size:2.0em;
    overflow-wrap: break-word;
}
.itmalt{
    overflow-wrap: break-word;
}
.ctnPalabras{
    display:flex;
    width:60%;
    background-color:red;
}
.itmform1{
    width: 60%;
}
.enviarRpta{
    display:block;
    margin-left: auto;
    margin-right: auto;
}