.containerP{
    margin-top: 50px;
    width: 80vw;
    
    background-color: rgb(1, 1,1,0.3);
    color:var(--colortext);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    padding:25px;
}
.ctnPreguntaAlumno{
    text-align: left;
    align-items: center;
}
.itmAlt{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom :0.4em;
}
.completeText{
    font-size: 1em;
    border-top-left-radius: 0.4em;
    background:none;
    border: none;
    border-bottom: 2px solid rgb(95, 37, 255);
    color:white;
    
}
.completeText:focus{
    border: 2px solid rgb(95, 37, 255);
}
.enviarRpta{
    margin-top: 20px;
    margin-bottom:10px;
    font-size:1em;
    border: none;
    background-color: rgb(251, 255, 0,0.4);
    animation: 1s infinite alternate buttonRpta;
    color:white;
}
@keyframes buttonRpta{
    from{
        transform: scale(1.1,1)
    }
    to{
        transform: scale(1,1)
    }
}
.enviarRpta:hover{
    color:goldenrod;
}

.ctnVerPregunta{
    font-size:1.5em;
    border-bottom: 5px dashed red;
    font: oblique bold 120% cursive;
    font-family: "Homer Simpson UI";
}
.itmalt{
    width:75%;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border-bottom: 3px solid rgba(4, 4, 4, 0.9);
}
.selectItem{
    background-color:rgba(175, 6, 236, 0.6);
}
.itmform{
    margin-top:25px;
    height: 3em;
}