.ctnEstadisticas{
    margin-top: var(--tamanoNav);
    width: 80vw;
    height:80vh;
    background-color: var(--colorfondo);
    color:var(--colortext);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    display:grid;
    grid-template-rows: 40px 400px 1fr;
    
}
.ctnContenido{
    background-color:red;
    text-align: center;
    grid-row: 1;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 2;
}
.ctnGrafico{
    width: 45%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}
.grafico{
    width: 100%;
    height:80%;
}
.ctnRespuestas{
    grid-row: 3;
    height: 100%;
    overflow-y: auto;
    position: relative;
    margin:0;
}
