.barra-izquierda{
    grid-column: 1;
    grid-row: 2;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    background-color: rgba(2, 1, 1, 0.411);
    padding-top: 10px;
    box-shadow:10px 5px 10px black;
    position: relative;
}
.btn-barra{
    background-color:transparent;
    border:none;
    color:white;
    margin-top:15px;
    position:relative;
}
.btn-barra:hover{
    cursor:pointer;
    transform: scale(1.2);
}
.visible{
    transform: scale(1.2);
}
.ctnColors{
    position: absolute;
    bottom: 10px;
    left:3px;
}
