
.pagClaseTodo{
    width: calc(100% - 50px);
    height: calc(100% - var(--tamanoNav));
    position:absolute;
}
.PClaseBtnContainers{
    display:flex;
    position: absolute;
    top: 0;  
    width: 100%;
}
.PCbtnChange2{
    width: 50%;
    height: 40px;
}
.mainWindowContainer{
    width: 100%;
}
.Prueba{
    width: 100vh;
    height: 100vh;
}

.PCbtnChange3{
    width: 33%;
    height: 40px;
}

.pagMblListaAlumnos{
    position: absolute;
    width: 100%;
    left:0;
    margin-top: 40px;
}

.pagListaAlumnos{
    position: absolute;
    width: 25%;
    height: 70%;
    right: 0;
    bottom: 0;
    overflow-y: auto ;
    overflow-x: hidden ;
    background-color: var(--colorfondoContenido);
}
.pagListaForms{
    position: absolute;
    width: 25%;
    height: 30%;
    right: 0;
    top: 0;
    overflow-y: auto ;
    overflow-x: hidden ;
}
.statMblWindowContainer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0vh;
    top: 0;
    margin-top: 40px;
}

.pagMblListaForms{
    position:absolute;
    width: 100%;
    bottom: 0;
    left:0vh;
    top: 0;
    margin-top: 40px;
}

.statWindowContainer{
    left: 0;
    width: 75%;
    bottom: 0;
    position:absolute;
    height: 100%;
}

.titleMobile{
    color: white;
    font-size: x-large;
    font-weight: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5vh;
}

.titleEsc{
    color: white;
    font-size: x-large;
    font-weight: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10vh;
}