
.PClaseBtnContainers{
    display:flex;
    position:fixed;
    left: 0vh;
    top: 10vh;  
    width: 102vw;
}
.PCbtnChange2{
    width: 51vw;
    height: 40px;

}
.mainWindowContainer{
    width: 96vw;
}
.Prueba{
    width: 100vh;
    height: 100vh;
}

.PCbtnChange3{
    width: 34vw;
    height: 40px;

}

.pagMblListaAlumnos{
    position: absolute;
    width: 100vw;
    left:0vh;
    top: 10vh;
    margin-top: 40px;
}

.pagListaAlumnos{
    position: fixed;
    width: 25vw;
    height: 60vh;
    right: 0;
    bottom: 0;
    overflow-y: auto ;
    overflow-x: hidden ;
}
.pagListaForms{
    position: fixed;
    width: 25vw;
    height: 25vh;
    right: 0;
    bottom: 60vh;
    overflow-y: auto ;
    overflow-x: hidden ;
}
.statMblWindowContainer{
    position: fixed;
    width: 100vw;
    bottom: 0;
    left:0vh;
    top: 10vh;
    margin-top: 40px;
}

.pagMblListaForms{
    position: fixed;
    width: 100vw;
    bottom: 0;
    left:0vh;
    top: 10vh;
    margin-top: 40px;
}

.statWindowContainer{
    right: 25vw;
    width: 75vw;
    bottom: 0;
    position:fixed;
    height: 85vh;
}