body{
    overflow:none;
    overflow-y: hidden;
    overflow-x: hidden;
}
.ctn{
    margin:var(--tamanoNav);
}

.LoginState{
    position: absolute;
    top: 5vh;
    left: 80vw;
}
.LoggoutButton{
    background-color: rgb(82, 82, 82);
    color: white;
    border-radius: 10px;
    height: 40px;
}
.todoPrincipal{
    width: 100%;
    display:grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px calc(100vh - 100px);
    height: 100vh;
    margin:0;
    padding: 0;
    border:0;
    background-color: gray;
}
.ctngeneral{
    grid-column: 2;
    grid-row: 2; 
    background-color:yellow;
    display:block;
}

.containerGen{
        height: calc(100% - var(--tamanoNav));
        width: 100%;
        position:absolute;
        overflow-y: auto ;
        overflow-x: hidden ;
}
