#Header{
    padding: 0% 50%;
    height:15vh;
    top:0%;
    position: absolute;
    left: 0%;
    background:rgba(0, 0, 0, 0.219);
    
}
#hTitulo{
    position: absolute;
    left:10%;
    top:-21%;
    padding: 5vh;
}


#NombreCurso{
    color:whitesmoke;
    font-size: 2vh;
}


@media (max-width: 600px){
    #Header{
        padding: 0% 50%;
        height:10vh;
        top:0%;
        position: fixed;
        left: 0%;
        background:rgba(0, 0, 0, 0.219);
        
    }
    #hTitulo{
        position: absolute;
        left:10%;
        top:-21%;
        padding: 2vh;
    }
    
}
@media (max-height: 600px){
    #Header{
        padding: 0% 50%;
        height:10vh;
        top:0%;
        position: fixed;
        left: 0%;
        background:rgba(0, 0, 0, 0.219);
        
    }
    #hTitulo{
        position: absolute;
        left:10%;
        top:-21%;
        padding: 2vh;
    }
    
}

#button{
    width: 100%;
    height: 100%;
    background-color:blue;
}

#Dehaze{
    top: 5%;
    color:white;
    left: 0%;
    position: absolute;
}

#menu-avatar{
    position: absolute;
    right:1%;
    top:50%;
    color:white;
}

#Foto{
    margin-top: 0;
    position: absolute;
    left: 94%;
    top: 0.8%;
}

#FotoPerfil{
    border-radius: 70%;
    width:90%;
    height:90%;
}

