#NCuadro{
    position:absolute center;
    padding:30%;
    width:auto;
    height:73%;
    left:10%;
    margin:10% 15%;
    background-color: rgb(44, 4, 82);
}


#table{
    position:absolute;
    width:50%;
    height:20%;
    margin:-30% -15%;
}


#texto{
    color:whitesmoke;
    font-size:3vw;
}
