#pCuadro{
    position:absolute center;
    padding:2%;
    width:auto;
    height:73%;
    left:10%;
    margin:10% 15%;
    background-color: rgb(44, 4, 82);
}


#pbutton{
    color:whitesmoke;
    font-size:1vw;
    position:absolute;
    margin: 0% 2%;
}

#Titulo{
    top:0%;
    position:absolute;
    left:40%; 
    font-size: 4vw;
    color:whitesmoke;
}

#img{
    border-radius: 50%;
    position:absolute center;
    margin:0% 30%;
    width:40%;
    height:40%;
}

#Perfil{
    font-size:2vw;
    position:absolute center;
    left:10%;
    color:whitesmoke;
    margin:15% 11%;
}

#link{
    color:white;
}

#input{
    font-size: 1.5vw;
}