#NCuadro{
    position:absolute center;
    padding:20%;
    width:auto;
    height:50%;
    left:10%;
    margin:10% 15%;
    background-color: rgb(44, 4, 82);
}

.nbton{
    font-size:30%
}

#table{
    position:absolute;
    width:40%;
    height:20%;
    margin:-30% -5%;
}


#texto{
    color:whitesmoke;
    font-size:2vw;
}
