#NCuadro{
    position:absolute center;
    padding:30%;
    width:auto;
    height:70%;
    left:10%;
    margin:10% 15%;
    background-color: rgb(44, 4, 82);
}

.nbton{
    font-size:30%
}

#table{
    position:absolute;
    width:40%;
    height:20%;
    margin:-50% -15%;
}


#texto{
    color:whitesmoke;
    font-size:3vw;
}
