
.interaccion{
    position:absolute;
    left:var(---ancho-barra);
    display: flex;
    align-items:center;
    top:0;
    margin-top:calc(20px+var(--tamanoNav));
    z-index: 1200;
}
.actionModule{
    height:60px;
    width:60px;
    background-color: black;
    color : var(--colortext);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size:50px;
    border:none;
    border-left: 2px solid var(--colortext);
    animation: 1s infinite alternate crece;
    
}
@keyframes crece{
    to {
      height: 70px;
      width:70px;  
    }
}
.actionModule:active{
    border-right: 2px solid var(--colortext);
    
}
.contenido{
    
    height:300px;
    width:350px;
    background-color:var(--colorBack);
    
}
.capa{
    padding-top: 10px;
    height:100%;
    width:100%;
    background-color: rgba(2, 1, 1, 0.411);
    text-align:center;
    
    z-index: 110;
    display:grid;
    grid-template-rows:30px 30px 1fr 30px;
}
.containerSesion{
    grid-row:1;
    width:100%;
    height:100%;
}
.containerOpt{
    grid-row:2;
    width:100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.containerCtn{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row:3;
    width:100%;
    overflow-y: auto;
}
.ctnSesionConf{
    display:grid;
    grid-template-columns: 1fr 120px;
    text-align: left;
    padding-right: 0;
    
}
.ctnActionConf>button {
    width:100%;
}
.containerAcesos{
    grid-row:4;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.rdOption{
    display:none;

}
.lblOption{
    background-color:#999;
    height:100%;
    transition:background-color 0.5;
}
.rdOption:checked + .lblOption{
    background-color:#444;
}
.alumnoPreguntas{
    grid-row:0/4;
    width:100%;
}
.subctn{
    grid-row:1;
    background-color: #777;
}
.ctnPreguntasPendientes{
    grid-row:2/6;
    overflow-y: auto;  

}
.pendientesCtn{
    grid-row:2/5;
    overflow-y: auto;
}
.bar-ctn-interaccion{
    position: relative;
}