#Top{
    padding: 0.2em;
    background:rgba(0, 0, 0, 0.788)
}

#Pantalla{
    padding: 6em;
    background:gold;    
}

#Titulo{
    font-size:3em;
}

#NombreCurso{
    margin-top: -2em;
    position: absolute;
    left:0.5em;
}

#Foto{
    margin-top: 0em;
    position: absolute;
    right:0;
    top: 0
}

#FotoPerfil{
    border-radius: 6.5em;
    width:8em;
    height:8em;
}

#Cuadro{
    width:9em;
    height:9em;
    margin:9em auto;
    padding:13em 14em;
    position:center;
    font-size:italic;
    background-color:rgba(77, 76, 76, 0.959);
}