

.popUpContainer{
    background-color: var(--colorfondoContenido);
    border-radius: 20px;
    border: rgb(114, 114, 114) solid 7px;
    height: 100%;
    width: 100%;
}

.frameContain{
    background-color: var(--colorfondoContenido);
    border-radius: 1px;
    border: black solid 1px;
    height: 100%;
    width: 100%;
}

.formularioBackground{
    background-color: #555;
    border-radius: 1px;
    border: black solid 1px;
    height: 100%;
    width: 100%;
}
.defInput{
    border-radius: 10px;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

.genBoton{
    border-radius: 10px;
    background-color: rgb(52, 73, 105);
    height: 100%;
    width: 100%;
    border: black solid 2px;
    color: white;
}

.adjButton{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 239, 16);
    color: white;
    font-weight: 1000;
    border-radius: 8px;        
    border: solid rgb(141, 160, 33) 5px;
}

.closeButton{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--button1Color);
    color: white;
    font-weight: 1000;
    border-radius: 8px;    
    border: solid rgb(78, 71, 71) 2px;
}

.confirmButton{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--button1Color);
    color: white;
    font-weight: 1000;
    border-radius: 8px;        
    border: solid rgb(67, 69, 71) 2px;
}

.baseSelection{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 143, 143);
    border: black solid 1px;
    font-weight: 400;
}


.elementContainer{
    height: 100%;
    width: 100%;
    background-color: var(--opciones1Color);
    border: rgb(23, 32, 23) solid 1px;
    font-weight: 400;
}
